@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-color: rgba(245, 207, 234, 0.531);
    --second-color: rgb(251, 253, 255);
    --text-color: rgb(158, 21, 114);
    --main-color: rgb(135, 98, 139);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* header section starts */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--main-color);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

/* header section ends */
/* home section starts */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
}

.home-img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10%;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 17px;
    margin-top: 20px;
}

span {
    color: var(--main-color);
}

.socila-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s;
}

.socila-media a:hover {
    background: var(--main-color);
    color: var(--second-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .2s;
}

.btn:hover {
    box-shadow: none;
}

/* home section ends */
/* about section starts */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-color);
}

.about-img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.5;
}

/* about section ends */
/* skill section starts */
#skills{
    width: 100%;
    min-height: 100vh;
    padding: 30px 10%;
}
#skills-container{
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
}
#skills-container h1{
    position: relative;
    font-size: 40px;
    color: #242223;
    margin-bottom: 30px;
    display: inline-block;
}
#skills-container h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}
#skills-container h1::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #d03645;
    top: calc(125% - 1px);
    left: 50%;
    transform: translateX(-50%);
}
#skills-container p{
    color: #808080;
    font-size: 18px;
}
.row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}
.row .col{
	flex-basis: 46%;
}
.row .sub-title h2{
	position: relative;
	color: #242223;
	font-size: 22px;
	font-family: helvetica;
	display: inline-block;
	margin-bottom: 30px;
}
.row .sub-title h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #808080;
}
.row .sub-title h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	top: calc(125% - 1px);
	left: 0;
	background-color: #d03645;
}
.subject{
	font-size: 18px;
	font-weight: thin;
	color: #808080;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.progress-bar{
	position: relative;
	width: 100%;
	height: 5px;
	background-color: #808080;
	border-radius: 15px;
	margin-bottom: 20px;
}
.progress-bar::after{
	position: absolute;
	content: attr(value);
	top: -35px;
	right: 0;
	color: #808080;
	font-size: 18px;
}
.progress-line{
	position: absolute;
	width: 0%;
	height: 7px;
	background-color: #d03645;
	border-radius: 15px;
	top: -1px;
	animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
@keyframes animate{
	100%{
		width: 100%;
	}
}
.progress-line::after{
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	background-color: #d03645;
}
/* skill section ends */
/* services section starts */
.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: 5s;
}

.services-container .services-box:hover {
    border: 3px solid var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 5.5rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
    line-height: 1.6;
}

/* services section ends */
/* portfolio section starts */
.portfolio {
    background: var(--second-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    /* box-shadow: 0 0 1rem var(--bg-color); */
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
    transition: .5s ease;
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--second-color);
}

/* portfolio section ends */
/* contact section starts */
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-color);
    border-radius: .8rem;
    border: none;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact .btn {
    border: none;
    cursor: pointer;
}

/* contact section ends */
/* footer section starts */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icon a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icon i {
    font-size: 2.4rem;
    color: var(--second-color);
}
/* footer section ends */














/* @media query */
@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:768px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 40rem;
    }

    .footer {
        padding: 2rem 3%;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content {
        padding: 20px;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 50vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img img {
        margin-top: 4rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #skill{
		padding: 30px 8%;
	}
}

@media(max-width:500px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .contact form .input-box input {
        width: 100%;
    }
    .row{
		flex-direction: column;
	}
	.main-title h1{
		font-size: 36px;
	}
	.row{
		margin-top: 30px;
	}
	.row .col:nth-child(2){
		margin-top: 20px;
	}
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}
